{% extends 'base.html' %}
{% load static %}

{% block title %}使い方|PhilTune{% endblock %}
{% block inquiry_active %}active{% endblock %}
{% block contents %}
<div class="container">
    <h1 class="display-4">使い方</h1>
    <h4>これさえ押さえておけばOK!</h4>
    <ul>
        <li>登録完了したら自分のパートを登録しましょう。</li>
        <li>次に、「乗り番」の曲を開いて、自分の乗り番を登録しましょう。</li>
        <li>最後に、「練習」で自分の出欠を登録します。</li>
        <li>各パートの出欠状況がいい感じにわかります。</li>
        <p>乗り番の登録をしないと、出欠状況に自分の名前は出現しないようになっていますので気をつけましょう。</p>
    </ul>
    <h4>詳しい使い方（運営向け）</h4>
    <ol>
        <li>まず運営が「期」を追加します。今期とか来期の「期」です。これを登録しないと何もアクションが起こせないので忘れないようにしてください。期はその名前(ex. 20XX年上半期)と開始日、終了日を登録するだけでOKです。</li>
        <li>次に運営は「曲」を追加します。該当する期について登録していきます。曲が登録可能な期は今期と来期の2つのどちらかです。</li>
        <li>ついでに演奏会も登録することができます。登録しなくてもシステム上の不便はありませんが、団員がいつでも演奏会の場所や日時を把握できるように登録しておくことをおすすめしておきます。</li>
        <li>ここまで完了すれば「乗り番」に関する運営の準備は終わりです。団員の皆さんは「曲」に対して乗り番を登録しましょう。</li>
        <li>続いて運営は、各練習についての予定を追加していきます。期が適切に登録されていれば、練習日から自動的に該当する期が判定され、そこから練習すべき曲が自動的に取得されます。</li>
        <li>取得された曲をもとに団員の乗り番が参照され、出席すべき人の出欠状況のみが表示されるようになっています。</li>
    </ol>
</div>

{% endblock %}
