{% extends 'base.html' %}
{% load static %}

{% block title %}練習予定一覧|PhilTune{% endblock %}
{% block schedule_active %}active{% endblock %}
{% block contents %}
<div class="container">
  <div class="my-div-style w-100">
    <div class="clearfix">
    {% if request.user.is_staff %}
        <a class="btn btn-success mt-5 mb-3" href="{% url 'schedule:schedule_update' object.pk %}"><i class="fa-solid fa-pencil"></i></a>
        <a class="btn btn-danger mt-5 mb-3" href="{% url 'schedule:schedule_delete' object.pk %}"><i class="fa-solid fa-trash-can"></i></a>
    {% endif %}
    </div>
    <div class="row">
      <div class="col-12">
        <strong><h3>{{ object.title }}</h3></strong>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {{ object.date }}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {{ object.start_at }}から{{ object.end_at }}まで
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-3">
        <strong>場所</strong>
      </div>
          <div class="col-9">
            {% if object.url == None %}
            {{ object.location }}
            {% else %}
            <a href="{{ object.url }}">{{ object.location }}</a>
            {% endif %} 
          </div>

    </div>
    <hr>
    <div class="row">
      <div class="col-3">
        <strong>曲</strong>
      </div>
          <div class="col-9">
            {% if object.mae %}前{% endif %}
            {% if object.naka %}中{% endif %}
            {% if object.main %}メイン{% endif %}
          </div>

    </div>
      <hr>
    <div class="row">
      <div class="col-3">
        <strong>詳細(時間割)</strong>
      </div>
      <div class="col-9">
        {{ object.detail|linebreaksbr }}
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-3">
        <strong>回答</strong>
      </div>
      <div class="col-9">
        <strong>{{ reaction.state }}</strong>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
      </div>
      <div class="col-9">
        {{ reaction.comment }}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <small><p style="text-align:right">作成:{{ object.created_at }}<br>最終更新:{{ object.updated_at }}</p></small>
      </div>
    </div>
    
    {% if reaction.state == None %}
    <a class="btn btn-primary mt-5 mb-3" href="{% url 'schedule:reaction_create' object.pk %}">出欠送信</a>
    {% else %}
    <a class="btn btn-secondary mt-5 mb-3" href="{% url 'schedule:reaction_update' reaction.pk %}">出欠編集</a>
    {% endif %}
  </div>

  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            自分のパート
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <p>
            <a class="btn btn-outline-info" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
              {% if 1_music.short_title is None %}前プロ{% else %}{{ 1_music.short_title }}{% endif %}
            </a>
            <a class="btn btn-outline-success" data-toggle="collapse" href="#multiCollapseExample2" role="button" aria-expanded="false" aria-controls="multiCollapseExample2">
              {% if 2_music.short_title is None %}中プロ{% else %}{{ 2_music.short_title }}{% endif %}
            </a>
            <a class="btn btn-outline-warning" data-toggle="collapse" href="#multiCollapseExample3" role="button" aria-expanded="false" aria-controls="multiCollapseExample3">
              {% if 3_music.short_title is None %}メイン{% else %}{{ 3_music.short_title }}{% endif %}
            </a>
          </p>
          <div class="col">
            <div class="col">
              <div class="collapse multi-collapse" id="multiCollapseExample1">
                <div class="card card-body">
                  <table class="table-info table-striped">
                    <thead>
                      <tr>
                        <th scope="col">パート</th>
                        <th scope="col">乗り番</th>
                        <th scope="col">名前</th>
                        <th scope="col">出欠</th>
                        <th scope="col">コメント</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for reaction in 1_your_part_reactions %}
                      <tr>
                        <td>{{ reaction.short_name }}</td>
                        <td>
                          {{ reaction.noriban }}
                        </td>
                        <td>{{ reaction.nick_name }}</td>
                        {% if reaction.syukketu == None %}
                        <td>未回答</td>
                        {% else %}
                        <td>{{ reaction.syukketu }}</td>
                        {% endif %}
                        <td>{{ reaction.comment }}</td>
                      </tr>
                      {% empty %}
                        <p>該当者はいません</p>
                      {% endfor %}
                    </tbody>
                </table>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="collapse multi-collapse" id="multiCollapseExample2">
                <div class="card card-body">
                  <table class="table-success table-striped">
                    <thead>
                      <tr>
                        <th scope="col">パート</th>
                        <th scope="col">乗り番</th>
                        <th scope="col">名前</th>
                        <th scope="col">出欠</th>
                        <th scope="col">コメント</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for reaction in 2_your_part_reactions %}
                      <tr>
                        <td>{{ reaction.short_name }}</td>
                        <td>
                          {{ reaction.noriban }}
                        </td>
                        <td>{{ reaction.nick_name }}</td>
                        {% if reaction.syukketu == None %}
                        <td>未回答</td>
                        {% else %}
                        <td>{{ reaction.syukketu }}</td>
                        {% endif %}
                        <td>{{ reaction.comment }}</td>
                      </tr>
                      {% empty %}
                        <p>該当者はいません</p>
                      {% endfor %}
                    </tbody>
                </table>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="collapse multi-collapse" id="multiCollapseExample3">
                <div class="card card-body">
                  <table class="table-warning table-striped">
                    <thead>
                      <tr>
                        <th scope="col">パート</th>
                        <th scope="col">乗り番</th>
                        <th scope="col">名前</th>
                        <th scope="col">出欠</th>
                        <th scope="col">コメント</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for reaction in 3_your_part_reactions %}
                      <tr>
                        <td>{{ reaction.short_name }}</td>
                        <td>
                          {{ reaction.noriban }}
                        </td>
                        <td>{{ reaction.nick_name }}</td>
                        {% if reaction.syukketu == None %}
                        <td>未回答</td>
                        {% else %}
                        <td>{{ reaction.syukketu }}</td>
                        {% endif %}
                        <td>{{ reaction.comment }}</td>
                      </tr>
                      {% empty %}
                        <p>該当者はいません</p>
                      {% endfor %}
                    </tbody>
                </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            管楽器
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <p>
            <a class="btn btn-outline-info" data-toggle="collapse" href="#multiCollapseExample4" role="button" aria-expanded="false" aria-controls="multiCollapseExample4">
              {% if 1_music.short_title is None %}前プロ{% else %}{{ 1_music.short_title }}{% endif %}
            </a>
            <a class="btn btn-outline-success" data-toggle="collapse" href="#multiCollapseExample5" role="button" aria-expanded="false" aria-controls="multiCollapseExample5">
              {% if 2_music.short_title is None %}中プロ{% else %}{{ 2_music.short_title }}{% endif %}
            </a>
            <a class="btn btn-outline-warning" data-toggle="collapse" href="#multiCollapseExample6" role="button" aria-expanded="false" aria-controls="multiCollapseExample6">
              {% if 3_music.short_title is None %}メイン{% else %}{{ 3_music.short_title }}{% endif %}
            </a>
          </p>
          <div class="col">
            <div class="col">
              <div class="collapse multi-collapse" id="multiCollapseExample4">
                <div class="card card-body">
                  <table class="table-info table-striped">
                    <thead>
                      <tr>
                        <th scope="col">パート</th>
                        <th scope="col">乗り番</th>
                        <th scope="col">名前</th>
                        <th scope="col">出欠</th>
                        <th scope="col">コメント</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for reaction in 1_wind_reactions %}
                      <tr>
                        <td>{{ reaction.short_name }}</td>
                        <td>
                          {{ reaction.noriban }}
                        </td>
                        <td>{{ reaction.nick_name }}</td>
                        {% if reaction.syukketu == None %}
                        <td>未回答</td>
                        {% else %}
                        <td>{{ reaction.syukketu }}</td>
                        {% endif %}
                        <td>{{ reaction.comment }}</td>
                      </tr>
                      {% empty %}
                        <p>該当者はいません</p>
                      {% endfor %}
                    </tbody>
                </table>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="collapse multi-collapse" id="multiCollapseExample5">
                <div class="card card-body">
                  <table class="table-success table-striped">
                    <thead>
                      <tr>
                        <th scope="col">パート</th>
                        <th scope="col">乗り番</th>
                        <th scope="col">名前</th>
                        <th scope="col">出欠</th>
                        <th scope="col">コメント</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for reaction in 2_wind_reactions %}
                      <tr>
                        <td>{{ reaction.short_name }}</td>
                        <td>
                          {{ reaction.noriban }}
                        </td>
                        <td>{{ reaction.nick_name }}</td>
                        {% if reaction.syukketu == None %}
                        <td>未回答</td>
                        {% else %}
                        <td>{{ reaction.syukketu }}</td>
                        {% endif %}
                        <td>{{ reaction.comment }}</td>
                      </tr>
                      {% empty %}
                        <p>該当者はいません</p>
                      {% endfor %}
                    </tbody>
                </table>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="collapse multi-collapse" id="multiCollapseExample6">
                <div class="card card-body">
                  <table class="table-warning table-striped">
                    <thead>
                      <tr>
                        <th scope="col">パート</th>
                        <th scope="col">乗り番</th>
                        <th scope="col">名前</th>
                        <th scope="col">出欠</th>
                        <th scope="col">コメント</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for reaction in 3_wind_reactions %}
                      <tr>
                        <td>{{ reaction.short_name }}</td>
                        <td>
                          {{ reaction.noriban }}
                        </td>
                        <td>{{ reaction.nick_name }}</td>
                        {% if reaction.syukketu == None %}
                        <td>未回答</td>
                        {% else %}
                        <td>{{ reaction.syukketu }}</td>
                        {% endif %}
                        <td>{{ reaction.comment }}</td>
                      </tr>
                      {% empty %}
                        <p>該当者はいません</p>
                      {% endfor %}
                    </tbody>
                </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            弦楽器
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          <p>
            <a class="btn btn-outline-info" data-toggle="collapse" href="#multiCollapseExample7" role="button" aria-expanded="false" aria-controls="multiCollapseExample7">
              {% if 1_music.short_title is None %}前プロ{% else %}{{ 1_music.short_title }}{% endif %}
            </a>
            <a class="btn btn-outline-success" data-toggle="collapse" href="#multiCollapseExample8" role="button" aria-expanded="false" aria-controls="multiCollapseExample8">
              {% if 2_music.short_title is None %}中プロ{% else %}{{ 2_music.short_title }}{% endif %}
            </a>
            <a class="btn btn-outline-warning" data-toggle="collapse" href="#multiCollapseExample9" role="button" aria-expanded="false" aria-controls="multiCollapseExample9">
              {% if 3_music.short_title is None %}メイン{% else %}{{ 3_music.short_title }}{% endif %}
            </a>
          </p>
          <div class="col">
            <div class="col">
              <div class="collapse multi-collapse" id="multiCollapseExample7">
                <div class="card card-body">
                  <table class="table-info table-striped">
                    <thead>
                      <tr>
                        <th scope="col">パート</th>
                        <th scope="col">乗り番</th>
                        <th scope="col">名前</th>
                        <th scope="col">出欠</th>
                        <th scope="col">コメント</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for reaction in 1_string_reactions %}
                      <tr>
                        <td>{{ reaction.short_name }}</td>
                        <td>
                          {{ reaction.noriban }}
                        </td>
                        <td>{{ reaction.nick_name }}</td>
                        {% if reaction.syukketu == None %}
                        <td>未回答</td>
                        {% else %}
                        <td>{{ reaction.syukketu }}</td>
                        {% endif %}
                        <td>{{ reaction.comment }}</td>
                      </tr>
                      {% empty %}
                        <p>該当者はいません</p>
                      {% endfor %}
                    </tbody>
                </table>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="collapse multi-collapse" id="multiCollapseExample8">
                <div class="card card-body">
                  <table class="table-success table-striped">
                    <thead>
                      <tr>
                        <th scope="col">パート</th>
                        <th scope="col">乗り番</th>
                        <th scope="col">名前</th>
                        <th scope="col">出欠</th>
                        <th scope="col">コメント</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for reaction in 2_string_reactions %}
                      <tr>
                        <td>{{ reaction.short_name }}</td>
                        <td>
                          {{ reaction.noriban }}
                        </td>
                        <td>{{ reaction.nick_name }}</td>
                        {% if reaction.syukketu == None %}
                        <td>未回答</td>
                        {% else %}
                        <td>{{ reaction.syukketu }}</td>
                        {% endif %}
                        <td>{{ reaction.comment }}</td>
                      </tr>
                      {% empty %}
                        <p>該当者はいません</p>
                      {% endfor %}
                    </tbody>
                </table>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="collapse multi-collapse" id="multiCollapseExample9">
                <div class="card card-body">
                  <table class="table-warning table-striped">
                    <thead>
                      <tr>
                        <th scope="col">パート</th>
                        <th scope="col">乗り番</th>
                        <th scope="col">名前</th>
                        <th scope="col">出欠</th>
                        <th scope="col">コメント</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for reaction in 3_string_reactions %}
                      <tr>
                        <td>{{ reaction.short_name }}</td>
                        <td>
                          {{ reaction.noriban }}
                        </td>
                        <td>{{ reaction.nick_name }}</td>
                        {% if reaction.syukketu == None %}
                        <td>未回答</td>
                        {% else %}
                        <td>{{ reaction.syukketu }}</td>
                        {% endif %}
                        <td>{{ reaction.comment }}</td>
                      </tr>
                      {% empty %}
                        <p>該当者はいません</p>
                      {% endfor %}
                    </tbody>
                </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
{% endblock %}
