{% extends 'base.html' %}
{% load static %}

{% block title %}練習予定一覧|PhilTune{% endblock %}
{% block schedule_active %}active{% endblock %}
{% block contents %}
<div class="container">
  <div class="row">
    <div class="my-div-style w-100">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{% url 'schedule:schedule_create' %}">新規作成</a>
        </div>
        <br>
          <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">開始日時</th>
                  <th scope="col">練習名</th>
                  <th scope="col">場所</th>
                  <th scope="col">回答</th>
                </tr>
              </thead>
              <tbody>
                {% for schedule in page_obj %}
                <tr>
                  <td>{{ schedule.date}}</td>
                  <td><a href="{% url 'schedule:schedule_detail' schedule.pk %}">
                    {{ schedule.title}}
                  </a></td>
                  <td>{{ schedule.location }}</td>
                  {% if schedule.state == None %}
                  <td>未回答</td>
                  {% else %}
                  <td>{{ schedule.state }}</td>
                  {% endif %}
                </tr>
                {% empty %}
                  <p>練習予定はありません。</p>
                {% endfor %}
              </tbody>
          </table>
              {% if page_obj.has_previous or page_obj.has_next %}
                <ul class="pagination">

                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}


                    {% for page_num in page_obj.paginator.page_range %}
                        {% if page_obj.number == page_num %}
                            <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                        {% endif %}
                    {% endfor %}


                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>

              {% endif %}

      </div>
    </div>
  </div>
</div>
{% endblock %}
