{% extends 'base.html' %}
{% load static %}

{% block title %}ユーザ詳細|PhilTune{% endblock %}
{% block user_active %}active{% endblock %}
{% block contents %}
<div class="container">
  <div class="my-div-style w-100">
    <div class="row">
      <div class="col-3">
        <strong>ユーザー名</strong>
      </div>
      <div class="col-9">
        {{ object.username }}
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-3">
        <strong>メールアドレス</strong>
      </div>
          <div class="col-9">
            {{ object.email }}
          </div>

    </div>
    <hr>
    <div class="row">
      <div class="col-3">
        <strong>フルネーム</strong>
      </div>
          <div class="col-9">
            {% if object.nick_name == None %}
            未設定
            {% else %}
            {{ object.nick_name }}
            {% endif %}
          </div>

    </div>
    <hr>
    <div class="row">
      <div class="col-3">
        <strong>スタッフ権限</strong>
      </div>
          <div class="col-9">
            {% if object.is_staff %}
            あり
            {% else %}
            なし
            {% endif %}
          </div>

    </div>
    <hr>
    <div class="row">
      <div class="col-3">
        <strong>スーパーユーザー権限</strong>
      </div>
          <div class="col-9">
            {% if object.is_superuser %}
            あり
            {% else %}
            なし
            {% endif %}
          </div>

    </div>
    <hr>
    <div class="row">
      <div class="col-3">
        <strong>パート</strong>
      </div>
          <div class="col-9">
            {% if object.instrument.name == None %}
            未設定
            {% else %}
            {{ object.instrument.name }}
            {% endif %}
          </div>
    </div>
    <hr>
    <a class="btn btn-success mt-5 mb-3" href="{% url 'accounts:user_update' object.pk %}"><i class="fa-solid fa-pencil"></i></a>
  </div>
</div>
{% endblock %}
